<div class="modal-body row">
  <div class="col-md-12">
    <h2>Where are we?</h2>
  
</div>


  <div class="modal-body row">

    <div class="col-md-7">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8149837.603349271!2d105.11866858514824!3d4.138905186780902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3034d3975f6730af%3A0x745969328211cd8!2sMalasia!5e0!3m2!1ses-419!2smx!4v1671747708120!5m2!1ses-419!2smx" width="700" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-md-5">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.hURx7G3Ii74-GfO2ANmsigHaFg%26pid%3DApi&f=1&ipt=68ce3d9dda848f2bdb47ba90d7da356f393c757c7407fdeb83b6944b737c92eb&ipo=images" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <br>
       
        </div>


    
      </div>
  </div>
  