
<div >
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #696d77"
            >
      <div class="container p-4 pb-0">
        <section class="">
          <div class="row">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                TECH Company 
              </h6>
              <p>
                Here you can use rows and columns to organize your footer
                content. Lorem ipsum dolor sit amet, consectetur adipisicing
                elit.
              </p>
            </div>
  
            <hr class="w-100 clearfix d-md-none" />
  
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
              <p>
                <a class="text-white">Hardware</a>
              </p>
              <p>
                <a class="text-white">Software</a>
              </p>
              <p>
                <a class="text-white">Consult</a>
              </p>
              <p>
                <a class="text-white">Programs</a>
              </p>
            </div>
  
            <hr class="w-100 clearfix d-md-none" />
  
            <hr class="w-100 clearfix d-md-none" />
  
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
              <p><i class="fas fa-home mr-3"></i> Malasia</p>
              <p><i class="fas fa-envelope mr-3"></i> TECHCOmpany@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 01 000 000 00</p>
              <p><i class="fas fa-print mr-3"></i> + 11 111 111 11</p>
            </div>
  
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>
  
              <a
                 class="btn btn-primary btn-floating m-1"
                 style="background-color: #3b5998"
                 href="#!"
                 role="button"
                 ><i class="fab fa-facebook-f"></i
                >
                <fa-icon [icon]="faFacebook"></fa-icon>
              </a>
  
           
  <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #55acee"
               href="#!"
               role="button"
               ><i class="fab fa-twitter"></i
              >
              <fa-icon [icon]="faTwitter"></fa-icon>
            
            </a>
              <a
                 class="btn btn-primary btn-floating m-1"
                 style="background-color: #ac2bac"
                 src="#!"
                 role="button"
                 ><i class="fab fa-instagram"></i
                >
                <fa-icon [icon]="faInstagram"></fa-icon>
              </a>
  
              <a
                 class="btn btn-primary btn-floating m-1"
                 style="background-color: #0082ca"
                 href="#!"
                 role="button"
                 >
                <fa-icon [icon]="faLinkedin"></fa-icon>
                <i class="fab fa-linkedin-in"></i
                ></a>
          
            </div>
          </div>
        </section>
      </div>
      
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        KTDN
        <a class="text-white" href="https://google.com/"
           >@TI COMPANY</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->